@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Comfortaa&family=Domine&family=Dosis&family=Josefin+Sans&family=M+PLUS+Rounded+1c&family=Nunito:wght@200;400;500;700&family=Raleway:wght@100;300&family=Source+Serif+Pro:ital,wght@0,300;1,400&family=Spectral&family=Cabin&family=Poppins:wght@300;400;500&family=Questrial&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --font-primary: Cabin, Nunito, Raleway, sans-serif;
  --color-lightest: #f2e5e5;
  --color-lighter: #e8c4c4;
  --color-light: #ce7777ee;
  /* --color-light2: #886060; */
  --color-light2: #9d8080;
  --color-dark: #2b3a55ee;
  --font-size-x-large: 1.5rem;
  --font-size-large: 1.2rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.5rem;
  --font-size-x-small: 0.33rem;
  --global-filter-dark: contrast(100%) brightness(100%)
    drop-shadow(30px 20px 0px rgba(170, 57, 57, 0.1));
  --global-filter-light: contrast(100%) brightness(100%)
    drop-shadow(30px 20px 0px rgba(163, 96, 96, 0.1));
  --project-image-size: 60vw;
}
@media (min-width: 450px) {
  :root {
    --project-image-size: 40vw;
  }
}
@media (min-width: 768px) {
  :root {
    --font-size-x-large: 1.5rem;
    --font-size-large: 1.25rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.75rem;
    --font-size-x-small: 0.5rem;
    --project-image-size: 25vw;
  }
}

@media (min-width: 1042px) {
  :root {
    --font-size-x-large: 1.66rem;
    --font-size-large: 1.33rem;
    --font-size-medium: 1.1rem;
    --font-size-small: 0.66rem;
    --font-size-x-small: 0.5rem;
    --project-image-size: 15vw;
  }
}

* {
  font-family: Poppins, Questrial;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: var(--color-lightest);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: unset;
  border: unset;
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
