@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Comfortaa&family=Domine&family=Dosis&family=Josefin+Sans&family=M+PLUS+Rounded+1c&family=Nunito:wght@200;400;500;700&family=Raleway:wght@100;300&family=Source+Serif+Pro:ital,wght@0,300;1,400&family=Spectral&family=Cabin&family=Poppins:wght@300&family=Questrial&display=swap');

:root {
  --font-primary: Cabin, Nunito, Raleway, sans-serif;
  --color-lightest: #f2e5e5;
  --color-lighter: #e8c4c4;
  --color-light: #f2e5e5;
  --color-dark: #2b3a55;
}

* {
  font-family: Poppins, Questrial;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
