.techsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 5vw !important;
  color: #111;
  text-shadow: 1.5px 1.5px 0 #6d6d6d71;
}

.techsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5vh;
  max-width: 100%;
}

.techsContainer > * {
  text-align: end;
}

@media (max-width: 768px) {
  .techsAndInfoSection > * {
    scroll-snap-type: y mandatory;
  }
  .techsAndInfoSection > * {
    align-items: center !important;
    align-self: center !important;
    min-height: 77vh;
    padding-top: max(5.5vw, 5.5vh);
    text-align: center !important;
    scroll-snap-align: start;
  }
  .techsContainer {
    align-items: center;
  }
  .techsContainer > * {
    text-align: unset;
  }
}
