.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2000;
}
.nav h3 {
  text-shadow: 1px 1px 1px #0000004f;
}

.sectionsNames {
  display: flex;
  align-items: center;
  height: 50px;
  color: #ddd;
  background: linear-gradient(to bottom right, #444, #1a1a1a);
  border-radius: 0 0 40px 0;
}
.sectionsNames > * {
  padding: 0 3vw;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sectionsNames > *:hover {
  text-shadow: -2px 2px 0px #795353;
}
.sectionsNames > * :last-child {
  border-bottom-right-radius: 20px;
}

.selectedSectionName {
  color: white;
  text-shadow: -2px 2px 0px #795353;
}

.languages {
  display: flex;
  flex-direction: row !important;
  justify-content: stretch !important;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.languages > * {
  position: relative;
  right: 0;
  flex-shrink: 0;
  height: 100%;
  transition: all 0.5s ease;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 5px 10px 22px;
  /* overflow: higdden; */
  border-bottom-left-radius: 45px;
  background: rgba(0, 0, 0, 0.1);
  /* margin: 0 max(1vw, 1vh); */
  z-index: 1000;
}

.social a {
  display: flex;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.41, -1.17, 0.4, 1.87);
}
.social img {
  max-height: 100%;
  max-width: 100%;
  min-width: 20px;
  filter: drop-shadow(0 0 1px #d6d6d6);
}
.social a:hover {
  filter: drop-shadow(4px 4px 0px rgba(170, 57, 57, 0.151));
  transform: scale(1.1);
}

.social > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
}

/* .social > *::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 50;
  content: "";
  position: absolute;
  bottom: -81%;
  right: -151%;
  bottom: -6px;
  z-index: -1;
  transform-origin: right bottom;
  transform: skewX(57deg);
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.15) 1%, transparent);
}

.social > *::after {
  width: 100%;
  height: 100%;
  background: white;
  z-index: 50;
  content: "";
  position: absolute;
  bottom: -22%;
  right: -160%;
  bottom: -6px;
  z-index: -1;
  transform-origin: right bottom;
  transform: skewX(57deg);
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.15) 1%, transparent);
} */

.cvSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 45px;
  padding: 5px 7px;
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.cvSection div {
  position: absolute;
  top: 110%;
  width: 100%;
  opacity: 0;
  transition: all 0.2s linear;
}
.cvSection:hover > div,
.cvSection > div:hover,
.cvSection > div:active {
  opacity: 1;
}

.cvSection div * {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #f1f1f1;
  box-shadow: inset 0px 0px 6px #3335;
  color: black;
}

.cvSection div :last-child {
  border-radius: 0 0 10px 10px;
}
.cvSection div :first-child {
  border-radius: 10px 10px 0 0;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .social {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
  }

  .sectionsNames {
    justify-content: space-around;
    box-shadow: 0 0 27px #0000004f;
    border-radius: 0 0 2px 2px;
  }
  .cvSection div {
    top: 0;
    transform: translateY(-110%);
  }
}
