.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2000;
}
.nav h3 {
  text-shadow: 1px 1px 1px #0000004f;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 5px 10px 22px;
  /* overflow: higdden; */
  border-bottom-left-radius: 45px;
  background: rgba(0, 0, 0, 0.1);
  /* margin: 0 max(1vw, 1vh); */
  z-index: 1000;
}

.social a {
  display: flex;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.41, -1.17, 0.4, 1.87);
}
.social img {
  max-height: 100%;
  max-width: 100%;
  min-width: 20px;
  filter: drop-shadow(0 0 1px #d6d6d6);
}
.social a:hover {
  filter: drop-shadow(4px 4px 0px rgba(170, 57, 57, 0.151));
  transform: scale(1.1);
}

.social > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
}

/* .social > *::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 50;
  content: "";
  position: absolute;
  bottom: -81%;
  right: -151%;
  bottom: -6px;
  z-index: -1;
  transform-origin: right bottom;
  transform: skewX(57deg);
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.15) 1%, transparent);
}

.social > *::after {
  width: 100%;
  height: 100%;
  background: white;
  z-index: 50;
  content: "";
  position: absolute;
  bottom: -22%;
  right: -160%;
  bottom: -6px;
  z-index: -1;
  transform-origin: right bottom;
  transform: skewX(57deg);
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.15) 1%, transparent);
} */

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .social {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
  }

  .sectionsNames {
    justify-content: space-around;
    box-shadow: 0 0 27px #0000004f;
    border-radius: 0 0 2px 2px;
  }
}
