.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.23, 0.79, 0.19, 1);
  width: min(200px, 45vw);
  z-index: 1000;
  cursor: pointer;
  background: linear-gradient(to bottom right, #444, #1a1a1a);
  border-radius: 0 0 20px 20px;
  border-right: 2px solid #555;
  overflow: hidden;
}
.options > * {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  text-align: center;
  text-shadow: 2px 2px 1px #111;
}

.options > :not(:first-child) {
  opacity: 0;
  margin-top: -20%;
  transition: all 0.75s cubic-bezier(0.23, 0.79, 0.19, 1);
}

.options:hover > :not(:first-child) {
  opacity: 1;
  margin-top: 0;
}

.options:hover > :last-child {
  border-radius: 0 0 20px 20px;
}

.options > :not(:first-child):hover {
  text-shadow: -2px 2px 0px rgb(121, 83, 83);
}

.clickedOption {
  color: rgb(108, 175, 161) !important;
}
